.screenshots {
    @include section();
    background-color: $white;

    &__title {
        @include h2();
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @media ($tablet) {
            row-gap: 2.5rem;
        }

        @media ($desktop) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 3.5rem;
            column-gap: 2rem;
        }

        .screenshot {
            @media ($tablet) {
                flex-basis: calc(50% - 1rem);
            }
        }
    }
}