//colors
$white: #fff;
$gray: #989898;
$gray2: #f5f5f5;
$lightGray: #ebebeb;
$primaryColor: #445161;
$secondaryColor: #445162;
$textColor: #333333;

//fonts
$mainFont: Arial, sans-serif;
$iconFont: 'socialico';


//screens
$tablet: 'min-width: 768px';
$desktop: 'min-width: 1024px';


//shadows
$mainShadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);